
body {
    background-image: url('/assets/images/dot-grid.png');
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    height: 130vh
}
/* header {
    margin: 0 auto;
    padding: 20px;
    background: rgba(204, 204, 204, 0.5);
    border-radius: 0px 0px 25px 25px;
} */

.jumbotron {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.7110031512605042) 100%);
}

.jewelBox {
    /* need to be responsive */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.jewel {
    border: 1px solid pink;
    height: 100px;
    width: 100px;
    box-shadow: 2px 4px 4px;
}

@media screen and (orientation: portrait) {
    img.ri { max-width: 90%; }
}

.jewel:hover {
    box-shadow: 10px 10px 10px;
}

/* Coloumns */
#lead {
    background: rgb(238,174,202);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 50px 50px 0px 0px;
}

#scoreboard {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FADBD8;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
}

#randomnum {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EBDEF0;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    font-size: 30px;
}

#jewels {
    text-align: center;
    border-radius: 0px 0px 50px 0px;
    padding-top: 20px;
    padding-bottom: 50px;

}

h1 {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

/* crystal images */
.crystals {
    border: 2px solid black;
    width: 960px;
}

.row {
    margin: 0 auto;
}

#footer {
    text-align: center;
}